<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>User Page</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles2.css" rel="stylesheet">
</head>
<body>
<nav>
    <h1>Grocery Store</h1>
    <div class="navbar-nav">
        {% if user %}
        <span class="navbar-text">Logged in as: {{user["user_name"]}}</span>
        <a href="/">Log Out</a>
        {% endif %}
    </div>
</nav>

<div class="container">
    <h2>Welcome, {{user["user_name"]}}!</h2>
</div>
<div class="container">
    <h1 class="my-4">Category</h1>
    {% if categories %}
    <div class="row">
        {% for category in categories %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ category.category_name }}</h5>
                    <div class="card mt-3">
                        <div class="card-body">
                            <h6 class="card-title">Products</h6>
                            {% if category.products %}
                            <ul class="list-group">
                                {% for product in category.products %}
                                <li class="list-group-item">
                                    Name : {{ product.product_name }}
                                    <br>
                                    Quantity: {{ product.quantity }}
                                    <br>
                                    Rate: {{ product.rate }} {{product.unit}}
                                    <br>
                                    Total Price: {{ product.quantity * product.rate }}
                                </li>
                                <div class="row mt-4">
                                    <div class="col">
                                        <a class="btn btn-primary" href="/update_product/{{ product.product_id }}">Update
                                            Product</a>
                                    </div>
                                    <div class="col">
                                        <form action="/delete_product/{{ product.product_id }}" method="POST">
                                            <button class="btn btn-danger btn-sm" type="submit">Delete Product</button>
                                        </form>
                                    </div>
                                </div>
                                <br>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No products for this item.</p>
                            {% endif %}
                        </div>
                        <div class="container">
                            <div class="row mt-4">
                                <div class="col">
                                    <a class="btn btn-primary btn-lg btn-block"
                                       href="/add_product/{{ category.category_id }}">Add Products</a>
                                    <br>
                                </div>
                                <div class="col">
                                    <a class="btn btn-primary btn-block"
                                       href="/update_category/{{ category.category_id }}">Update Categories</a>
                                </div>
                                <div class="col">
                                    <form action="/delete_category/{{category.category_id}}" method="POST">
                                        <button class="btn btn-danger btn-sm" type="submit">Delete Category</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p>No items in the database.</p>
    {% endif %}
</div>
<div class="d-flex justify-content-center">
    <a class="btn btn-primary btn-lg" href="add_category">Add Category</a>
</div>

</body>
</html>
