<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/static/styles.css" rel='stylesheet'>

    <link href="/static/styles2.css" rel="stylesheet">
    <title>Grocery Store V2</title>

</style>
</head>

<body>
    <div id="app">
        <router-view></router-view>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@3.5.2/dist/vue-router.js"></script>
</body>
</html>
